body
{
    padding: 0;
    margin: 0;
}
#nav
{
    background-color: #5F5F5F;
    width: 100%;
    height: 70px;
}
.navText
{
    float:left;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: large;
    color: white;
    position: relative;
    top: 20px;
}
#boledadianIcon
{
    float: left;
    position:relative;
    left: 5%;
    top: 4px;
    cursor: pointer;
}
#navOriginal
{
    left: 9%;
}
#navBoutique
{
    left: 12%;
}
#navInterlocution
{
    left: 15%;
}
#navSelf
{
    left: 18%;
}
#navCCTV
{
    left: 21%;
}
#navSearch
{
    float: left;
    background-color: #5F5F5F;
    position: relative;
    top: 17px;
    left: 28%;
    width: 18%;
    height: 50px;
}
#navBox
{
    background-color: #5F5F5F;
    border-radius: 20px;
    height: 26px;
    border:white 2px solid;
}
#navInput
{
    position: relative;
    left: 3%;
    bottom: 5px;
    width: 75%;
    border: 0;
    background-color: #5F5F5F;
}
#navSearchIcon
{
    position: relative;
    left: 5%;
    top: 0px;
    cursor: pointer;
}
#navLogin
{
    left:31%;
}
#navShu
{
    left: 32%;
}
#navRegister
{
    left:33%
}

#bigPicture
{
    width: 100%;
    height: 465px;
}
#SunFlower
{
    width: 100%;
    height: 465px;
}
#purePicture
{
    background-color: white;
    width: 100%;
    height: 170px;
}
.circle
{
    opacity: 0.8;
    float: left;
    background-color: #EE9B47;
    border-radius: 105px;
    width: 210px;
    height: 210px;
    position: relative;
    bottom: 105px;
}
#circleSelf
{
    opacity: 1.0;
    color: #FFFFFF;
    font-size: x-large;
    position:relative;
    top: 125px;
    left: 57px;
    text-decoration: none;
}
#circleNews
{
    color: white;
    font-size: x-large;
    position:relative;
    top: 125px;
    left: 57px;
    text-decoration: none;
}
#circleClass
{
    color: white;
    font-size: x-large;
    position:relative;
    top: 125px;
    left: 57px;
    text-decoration: none;
}
#circle1
{
    left: 230px;
}

#circle2
{
    left: 370px;
}
#circle3
{
    left: 510px;
}
#footer
{
    background-color: #534942;
    width: 100%;
    height: 100px;
    position: absolute;
}
.footText
{
    float:left;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: large;
    color: white;
    position: relative;
}
#footRecruit
{
    top: 20px;
    left: 21%;
}
#footShu2
{
    top:20px;
    left: 23%;
}
#footSuggestion
{
    top:20px;
    left: 25%;
}
#footShu3
{
    top:20px;
    left: 27%;
}
#footContact
{
    top:20px;
    left: 29%;
}
#footQQ
{
    position: relative;
    float:left;
    width: 55px;
    height: 55px;
    cursor: pointer;
    left: 54%;
}
#footWeChat
{
    position: relative;
    float:left;
    width: 50px;
    height: 50px;
    left: 54%;
    top: 5px;
    cursor: pointer;
}
#footBlog
{
    position: relative;
    float:left;
    width: 45px;
    height: 45px;
    left: 54%;
    top: 5px;
    cursor: pointer;
}
#footCopyRight
{
    clear: left;
    bottom: 15px;
    left: 25%;
}
